/* This file is for your main application css. */

@import "bootstrap";

/* index.html settings */

h1.index-h1, #game-h1 {
  background-color: #000000;
  color: white;
  font-family: "Georgia", serif;
  text-decoration: none;
}

#black_block {
  background-color: black;
  color: white;
}

#white_block {
  background-color: white;
  color: black;
  border-bottom: 2px solid black;
}

#spectator {
  color: orange;
  border-bottom: 2px solid black;
}

#new_game {
  background-color: #EBEBF0;
  border: 5px dashed gray;
}

.card {
  width: 20%;
  margin-top: 10%;
  display: inline-block;
}

// https://www.w3schools.com/howto/howto_css_modals.asp
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 2%;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 200%;
    font-weight: bold;
    margin-right: -100%;
    margin-top: 15%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#user_name, #game_name {
  display: block;
  width: 90%;
  height: 80%;
  padding: 10% 5%;
  font-size: 100%;
  background-color: #EBEBF0;
  border: 1px solid #cccccc;
}

// button, .submit {
//     background-color: #000066;
//     padding: 10px 30px;
//     margin: 1px 1px;
//     width: 220px;
//     font: 20px "Georgia", Futura, serif;
//     color: #ebebf0;
//     cursor: pointer;
// }
//
// button:hover, .submit:hover {
//   background-color: #ebebf0;
//   color: #000066;
// }

/* Global settings */

body {
	font: 14px "Georgia", Futura, serif;
	margin: 10px;
  margin-left: 100px;
}

ol, ul {
	padding-left: 30px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Main game page settings */

.players {
	margin-left: 450px;
	margin-top: -200px;
}

// othello board
.board {
    border: 3px solid black;
    padding: 10px;
    background-color: #663300;
}

.board-row:after {
	clear: both;
	content: '';
	display: table;
}

.status {
	margin-bottom: 10px;
}

// 0..63 squares of the board
.square {
	background: #1a7f25;
	border: 1px solid #111111;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 50px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 50px;
	border-radius: 0;
	max-width: 13%;
}

.square:focus {
	outline: none;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game {
  clear: both;
}

.game-board {
  display: inline-block;
}

.game-left-side {
  float: left;
  padding-right: 20px;
}

.game-info {
	float: left;
}

.available-square {
	cursor: pointer;
}

.not-available-square {
	cursor: not-allowed;
}

// stubs on the square
.marker {
	width: 80%;
	height: 80%;
	border-radius: 50%;
	margin-left: 10%;
	margin-top: 10%;
}

// stub for the black player
.marker.black {
	background: #111;
}

// stub for the white player
.marker.white {
	background: #eee;
	border: 1px solid #111;
}

#black_side {
  background-color: black;
  color: white;
  font-size: 150%;
}

#message {
  font-size: 120%;
}

#white_side {
  background-color: white;
  color: black;
  font-size: 150%;
}

// Remove the space between the columns in bootstrap
// https://getbootstrap.com/docs/4.0/layout/grid/
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
